

.bodyC{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    /* background-image: linear-gradient(110deg, rgb(188, 70, 70), rgb(255, 255, 255), rgb(220, 82, 82)); */
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
.buttons{
    display: flex;
    gap: 25px;
    padding-bottom: 25px;
}
button{
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    padding: 8px;
    color: black;
}
button:hover{
    background-color: rgb(84, 145, 244);
    color: aliceblue;
}


#container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border: 5px solid black;
    border-radius: 16px;
    box-shadow: 10px 10px 5px #797979;
    background-color: aliceblue;
    
}

.rows{
    display: flex;
    flex: 1;
}
.cols{
    display: flex;
    flex: 1;
    border: 1px solid black;
}
